@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2> PHẦN MỀM QUẢN LÝ BÁN HÀNG </h2>
   <style>
a {
  color: green;
}/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: blue;
}
</style>
</head>
<body>

<p><b><a href="http://localhost:5025/Account/Login" target="_blank">Login</a>
      <a href="http://localhost:5025/Account/Login" target="_blank">Register</a>
</b></p>

</body>
</div>
